.renlian {
    position: relative;
    height: 200px; width: 200px;
    margin: 400px auto;
    background-size: 100% 100%;
}

.renlian .box {
    width: 30vw;
    height: 30vw;
    max-height: 30vh;
    max-width: 30vh;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border: 0.1rem solid rgba(3, 169, 244, 0.2);
}

.renlian .line {
    height: calc(100% - 2px);
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 255, 51, 0) 43%, #03a9f4 211%);
    border-bottom: 2px solid #03a9f4;
    transform: translateY(-100%);
    animation: radar-beam 2s infinite;
    animation-timing-function: cubic-bezier(0.3, 0, 0.43, 0.7);
    animation-delay: 1.4s;
}

.renlian .box:after,
.renlian .box:before,
.renlian .bottom:after,
.renlian .bottom:before {
    content: '';
    display: block;
    position: absolute;
    width: 3vw;
    height: 3vw;

    border: 0.2rem solid transparent;
}

.renlian .box:after,
.renlian .box:before {
    top: 0;
    border-top-color: #03a9f4;
}

.renlian .bottom:after,
.renlian .bottom:before {
    bottom: 0;
    border-bottom-color: #03a9f4;
}

.renlian .box:before,
.renlian .bottom:before {
    left: 0;
    border-left-color: #03a9f4;
}

.renlian .box:after,
.renlian .bottom:after {
    right: 0;
    border-right-color: #03a9f4;
}

@keyframes radar-beam {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}